<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>智能监狱管理系统</title>

    <link rel="stylesheet" type="text/css" href="/static/css/portal.css" />

    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap/css/bootstrap-responsive.css" />
    <!-- GC -->

    <!-- <x-compile> -->
    <script type="text/javascript" src="/static/libs/jquery/js/jquery-latest.js"></script>
    <script type="text/javascript" src="/static/libs/jquery/js/jquery.jqprint-0.3.js"></script>
    <script type="text/javascript" src="/static/libs/bootstrap/js/bootstrap.min.js"></script>

    <!-- <x-bootstrap> -->
    <script type="text/javascript" src="/static/js/include-ext.js"></script>
{#    <script type="text/javascript" src='/static/js/ext-all.js'></script>#}
    <script type="text/javascript" src="/static/js/options-toolbar.js"></script>
{#    <script type="text/javascript" src="/static/js/ext-theme-neptune.js"></script>#}
    <!-- </x-bootstrap> -->

    <!-- shared example code -->
{#    <script type="text/javascript" src="/static/js/examples.js"></script>#}

    <script type="text/javascript">
        Ext.Loader.setPath('Ext.app', '/static/js/classes');
    </script>

    <script type="text/javascript" src="/static/js/store.js"></script>

    <script type="text/javascript" src="/static/js/portal.js"></script>

    <script type="text/javascript" src="/static/js/row-editing.js"></script>

    <script type="text/javascript" src="/static/js/index.js"></script>

</head>
<body>
    <span id="app-msg" style="display:none;"></span>
{#    <div id="editor-grid"></div>#}
</body>
</html>
