a {
    color: white;
}

#app-header {
    color: #596F8F;
    font-size: 22px;
    font-weight: 200;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #fff;
}

.x-theme-neptune #app-header {
    color: white;
    text-shadow: none;
}

#app-msg {
    background: #D1DDEF;
    border: 1px solid #ACC3E4;
    padding: 3px 15px;
    font-weight: bold;
    font-size: 13px;
    position: absolute;
    right: 0;
    top: 0;
}
.x-panel-ghost {
    z-index: 1;
}
.x-border-layout-ct {
    background: #DFE8F6;
}
.x-portal-body {
    padding: 0 0 0 8px;
}
.x-portal .x-portal-column {
    /* columns must have vertical padding to avoid losing dimensions when empty */
    padding: 8px 8px 0 0;
}
.x-portal .x-panel-dd-spacer {
    border: 2px dashed #99bbe8;
    background: #f6f6f6;
    border-radius: 4px;
    -moz-border-radius: 4px;
    margin-bottom: 10px;
}
.x-portlet {
    margin-bottom:10px;
    padding: 1px;
}
.x-portlet .x-panel-body {
    background: #fff;
}
.portlet-content {
    padding: 10px;
    font-size: 11px;
}

#app-options .portlet-content {
    padding: 5px;
    font-size: 12px;
}
.settings {
    background-image:url(../shared/icons/fam/folder_wrench.png);
}
.nav {
    background-image:url(../shared/icons/fam/folder_go.png);
}
.info {
    background-image:url(../shared/icons/fam/information.png);
}

img.logo {
    height: 100% !important;
    width: auto !important;
    float: left;
}

div.system-name {
    float: left;
    /*display: inline-block;*/
    display:table-cell;
    vertical-align:middle;
    height: 100%;
    width:auto;
     /*Internet Explorer 10*/
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

     /*Firefox*/
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

     /*Safari, Opera, and Chrome*/
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

     /*W3C*/
    display:box;
    box-pack:center;
    box-align:center;
}

#logout {
    float: right;

    display:table-cell;
    vertical-align:middle;
     /*Internet Explorer 10*/
    display:-ms-flexbox;
    -ms-flex-pack:center;
    -ms-flex-align:center;

     /*Firefox*/
    display:-moz-box;
    -moz-box-pack:center;
    -moz-box-align:center;

     /*Safari, Opera, and Chrome*/
    display:-webkit-box;
    -webkit-box-pack:center;
    -webkit-box-align:center;

     /*W3C*/
    display:box;
    box-pack:center;
    box-align:center;

    height: 100%;
    color: white;
    cursor: pointer;
}

#logout:hover {
    color: #e5e5e5;
    text-shadow:2px 2px #111;
    text-decoration: underline white;
}

#options-toolbar {
    visibility: hidden;
}

img.geograph {
    max-height: 100%;
    height: 100%;
}

#div-editor-map {
    float:left;
    width: 100%;
    height: 100%;
    text-align: center;

}

#div-editor-left {
    float:left;
    width: 75%;
    height: 100%;
    background-color: #f0f0f0;
}

#div-editor-right {
    float:right;
    width:25%;
    height: 405px;
    background-color: #dddddd;
}

#map_info_table {
    background-color: #f5f5f5;
    width: 100%;
    height: 100%;
}

#add_position_card {
    float: right;
}

#add_position_mapping {
    float: right;
}

.position-div {
    position: absolute;
    z-index: 100;
    width: 20px;
    height: 20px;

    background-color: red;
    border: 2px solid #fff;

    cursor: pointer;
    /*@TODO: Add position background*/
}

.table{
    height: 100%;
    overflow-y: scroll !important;
}

.table tr {
    height: 20px !important;
    line-height: 20px !important;
}

.table tr.error {
    height: 20px !important;
    line-height: 20px !important;
    background-color: #f2dede;
}

.table tr td {
    height: 20px !important;
    line-height: 20px !important;
}

select.selectpicker {
    float: left !important;
    width: 30% !important;
}

#line_page_position_card_div{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

#line_page_position_card_table {
    width: 100%;
    height: 90px !important;
}

#line_page_position_card_table tbody tr td input {
    width: 90% !important;
}

#line_page_position_card_table tbody tr td select {
    width: 90% !important;
}

.table tbody tr.success > td {
    background-color: #f2dede !important;
}

#add_line_input {
    width: 40% !important;
}

span.result_query {
    width: 90% !important;
    margin: 10px;
}

#map_animation {
    position: absolute;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.0);
}

#div-editor {
    width: 100%;
    height: 100%;
}

#table-editor {
    height: 750px !important;
}

#table-editor-body {
    height: 100% !important;
}

#position_temp_hum_div {
    border: 2px solid rgba(180,180,180,0.8);
    background-color: rgba(255,255,255,0.8);
    /*width: 400px;*/
    height: 150px;
    font-size: 25px;

    position: absolute;
    z-index: 150;

    padding: 5px;
    text-align: left;

    display: none;
}

#position_temp_hum_div > span {
    float: left;
    width: 100% !important;
    height: 40px !important;
    margin: 5px !important;
}

.mouse_move_tooltip {
    position: absolute;
    z-index: 100;
    text-align: right;
    height: 20px;
    width: 100px;
    background-color: rgba(255,255,255,0.8);
    border: 1px solid rgba(200,200,200,0.8);
}